<main class="pageHome">
    <section class="secAbout">
        <h2 class="hidden">About</h2>
        <div class="strengths">
            <h3 class="hidden">Strengths</h3>
            <div class="strength s1">
                <object data="images/icons/speed.svg" type="image/svg+xml"></object>
                <h4>Speed</h4>
                <p>Lighting fast and efficient</p>
            </div>
            
            <div class="strength s2">
                <object data="images/icons/debugging.svg" type="image/svg+xml"></object>
                <h4>Debugging</h4>
                <p>Googling error codes is my secret passion! shh...</p>
            </div>

            <div class="strength s3">
                <object data="images/icons/creativity.svg" type="image/svg+xml"></object>
                <h4>Creativity</h4>
                <p>As creative as they get</p>
            </div>
        </div>
    </section>

    <section class="secPortfolio">
        <h2 class="hidden">Portfolio</h2>
        <nav class="portfolioNav">
            <ul class="projList">
                <li class="pItem li1">Port Item</li>
                <li class="pItem li2">Port Item</li>
                <li class="pItem li3">Port Item</li>
                <li class="pItem li4">Port Item</li>
            </ul>
        </nav>

        {{!-- use hbs each view here! --}}
        {{!-- <div class="projView">
            <div class="projInfo proj1 view">
                <h3 class="projTitle">{{cordae.Name}}</h3>
                    <p class="projDesc">{{cordae.Description}}</p>
                    <img src="images/portfolio/{{cordae.Mockups}}" class="projMockups">
                    <div class="appsUsed">
                        <label class="app">{{cordae.Apps-used[0]}}</label>
                        <label class="app">{{cordae.Apps-used[1]}}</label>
                        <label class="app">{{cordae.Apps-used[2]}}</label>
                        <label class="app">{{cordae.Apps-used[3]}}</label>
                        <label class="app">{{cordae.Apps-used[4]}}</label>
                    </div>
                    <div class="projImages">
                    <img src="images/portfolio/{{cordae.Images[0]}}" alt="cordae screenshot">
                    <img src="images/portfolio/{{cordae.Images[1]}}" alt="cordae screenshot">
                    <img src="images/portfolio/{{cordae.Images[2]}}" alt="cordae screenshot">
                    <img src="images/portfolio/{{cordae.Images[3]}}" alt="cordae screenshot">
                    </div>
            </div>
            
            <div class="projInfo proj2">
                <h3 class="projTitle">{{hack.Name}}</h3>
                    <p class="projDesc">{{hack.Description}}</p>
                    <img src="images/portfolio/{{hack.Mockups}}" class="projMockups">
                    <div class="appsUsed">
                        <label class="app">{{hack.Apps-used[0]}}</label>
                        <label class="app">{{hack.Apps-used[1]}}</label>
                        <label class="app">{{hack.Apps-used[2]}}</label>
                        <label class="app">{{hack.Apps-used[3]}}</label>
                        <label class="app">{{hack.Apps-used[4]}}</label>
                    </div>
                    <div class="projImages">
                    <img src="images/portfolio/{{hack.Images[0]}}" alt="hack screenshot">
                    <img src="images/portfolio/{{hack.Images[1]}}" alt="hack screenshot">
                    <img src="images/portfolio/{{hack.Images[2]}}" alt="hack screenshot">
                    <img src="images/portfolio/{{hack.Images[3]}}" alt="hack screenshot">
                    </div>
            </div>

            <div class="projInfo proj3">
                <h3 class="projTitle">{{cliff.Name}}</h3>
                    <p class="projDesc">{{cliff.Description}}</p>
                    <img src="images/portfolio/{{cliff.Mockups}}" class="projMockups">
                    <div class="appsUsed">
                        <label class="app">{{cliff.Apps-used[0]}}</label>
                        <label class="app">{{cliff.Apps-used[1]}}</label>
                        <label class="app">{{cliff.Apps-used[2]}}</label>
                        <label class="app">{{cliff.Apps-used[3]}}</label>
                        <label class="app">{{cliff.Apps-used[4]}}</label>
                    </div>
                    <div class="projImages">
                    <img src="images/portfolio/{{cliff.Images[0]}}" alt="cliff screenshot">
                    <img src="images/portfolio/{{cliff.Images[1]}}" alt="cliff screenshot">
                    <img src="images/portfolio/{{cliff.Images[2]}}" alt="cliff screenshot">
                    <img src="images/portfolio/{{cliff.Images[3]}}" alt="cliff screenshot">
                    </div>
            </div>

            <div class="projInfo proj4">
                <h3 class="projTitle">{{fav.Name}}</h3>
                    <p class="projDesc">{{fav.Description}}</p>
                    <img src="images/portfolio/{{fav.Mockups}}" class="projMockups">
                    <div class="appsUsed">
                        <label class="app">{{fav.Apps-used[0]}}</label>
                        <label class="app">{{fav.Apps-used[1]}}</label>
                        <label class="app">{{fav.Apps-used[2]}}</label>
                        <label class="app">{{fav.Apps-used[3]}}</label>
                        <label class="app">{{fav.Apps-used[4]}}</label>
                    </div>
                    <div class="projImages">
                    <img src="images/portfolio/{{fav.Images[0]}}" alt="fav screenshot">
                    <img src="images/portfolio/{{fav.Images[1]}}" alt="fav screenshot">
                    <img src="images/portfolio/{{fav.Images[2]}}" alt="fav screenshot">
                    <img src="images/portfolio/{{fav.Images[3]}}" alt="fav screenshot">
                    </div>
            </div>
            
        </div> --}}
    </section>
</main>
<div class="divide-bottom"></div>

    <section class="secContact">
        <h2>Contact</h2>
        <form action="submit" method="post">
            <input type="text" placeholder="Name" id='name' required>
            <input type="email" name="email" id='email' placeholder="Email" required>
            <input id='subject' name='subject' type="text" placeholder='Subject' required>
            <textarea id='message' name='message' placeholder="Message" required></textarea>

            <button type="submit">send</button>
        </form>
    </section>

