<main class="pageHome">
    <section class="secAbout">
        <h2 class="hidden">About</h2>
        <div class="strengths">
            <h3 class="hidden">Strengths</h3>
            <div class="strength s1">
                <i class="fas fa-bolt"></i>
                <h4>Speed</h4>
                <p>Lighting fast and efficient</p>
            </div>
            
            <div class="strength s2">
                <i class="fas fa-bug"></i>
                <h4>Debugging</h4>
                <p>Googling error codes is my secret passion! shh...</p>
            </div>

            <div class="strength s3">
                <i class="fas fa-globe-europe"></i>
                <h4>Creativity</h4>
                <p>As creative as they get</p>
            </div>
        </div>
    </section>

    <section class="secPortfolio">
        <h2 class="hidden">Portfolio</h2>
        <nav class="portfolioNav">
            <ul class="projList">
                <li class="pItem li1 active">Cordae Album Site</li>
                <li class="pItem li2">Hackathon Build</li>
                <li class="pItem li3">Cliff Creatives</li>
                <li class="pItem li4">MySQL + HBS Build</li>
            </ul>
        </nav>

        {{!-- use hbs each view here! --}}
        <div class="projView">
            <div class="projInfo proj1 view">
                <h3 class="projTitle">{{cordae.Name}}</h3>
                    <p class="projDesc">{{cordae.Description}}</p>
                    <div class="parMocks">
                        {{#each cordae.Mockups}}
                            <img src="images/portfolio/{{this}}" alt="Cordae album review site mockup" class="projMockups openBox">
                        {{/each}}
                    </div>
                    
                    <div class="appsUsed">
                        {{#each cordae.AppsUsed}}
                            <label class="app">{{this}}</label>
                        {{/each}}
                    </div>
                    <div class="projImages">
                        {{#each cordae.Images}}
                    <img src="images/portfolio/{{this}}" class="pImg openBox" alt="cordae album review site screenshot">
                        {{/each}}
                    </div>
            </div>

            <div class="projInfo proj2">
                <h3 class="projTitle">{{hack.Name}}</h3>
                    <p class="projDesc">{{hack.Description}}</p>
                    <div class="parMocks">
                        {{#each hack.Mockups}}
                            <img src="images/portfolio/{{this}}" alt="Hackathon site mockup" class="projMockups openBox">
                        {{/each}}
                    </div>
                    <div class="appsUsed">
                        {{#each hack.AppsUsed}}
                            <label class="app">{{this}}</label>
                        {{/each}}
                    </div>
                    <div class="projImages">
                        {{#each hack.Images}}
                            <img src="images/portfolio/{{this}}" class="pImg openBox" alt="hackathon site screenshot">
                        {{/each}}
                    </div>
            </div>

            <div class="projInfo proj3">
                <h3 class="projTitle">{{cliff.Name}}</h3>
                    <p class="projDesc">{{cliff.Description}}</p>
                    <div class="parMocks">
                        {{#each cliff.Mockups}}
                            <img src="images/portfolio/{{this}}" alt="Cliff creatives site mockup" class="projMockups openBox">
                        {{/each}}
                    </div>
                    <div class="appsUsed">
                        {{#each cliff.AppsUsed}}
                            <label class="app">{{this}}</label>
                        {{/each}}
                    </div>
                    <div class="projImages">
                        {{#each cliff.Images}}
                            <img src="images/portfolio/{{this}}" class="pImg openBox" alt="cliff creatives site screenshot">
                        {{/each}}
                    </div>
            </div>

            <div class="projInfo proj4">
                <h3 class="projTitle">{{fav.Name}}</h3>
                    <p class="projDesc">{{fav.Description}}</p>
                    <div class="parMocks">
                        {{#each fav.Mockups}}
                            <img src="images/portfolio/{{this}}" alt="Favorite things site mockup" class="projMockups openBox">
                        {{/each}}
                    </div>
                    <div class="appsUsed">
                        {{#each fav.AppsUsed}}
                            <label class="app">{{this}}</label>
                        {{/each}}
                    </div>
                    <div class="projImages">
                        {{#each fav.Images}}
                    <img src="images/portfolio/{{this}}" class="pImg openBox" alt="favorite things site screenshot">
                        {{/each}}
                    </div>
            </div>
            
            
        </div>
    </section>
</main>
<div class="divide-bottom"></div>

    <section class="secContact">
        <h2>Contact</h2>
        <form action="submit" method="post">
            <input type="text" placeholder="Name" id='name' required>
            <input type="email" name="email" id='email' placeholder="Email" required>
            <input id='subject' name='subject' type="text" placeholder='Subject' required>
            <textarea id='message' name='message' placeholder="Message" required></textarea>

            <button type="submit">send</button>
        </form>
    </section>

