<main class="pageHome">
    <section class="secAbout">
        <h2 class="hidden">About</h2>
        <div class="malekf">
            <p class="thisIs">this is me</p>
            <img class="portrait" src="images/me.jpg" alt="Portrait of Malek Farag">
            <div class="aboutDesc">
                <p class="title">design x development</p>
                <div class="vertDiv"></div>
                <p class="desc">designing and developing fast, reliable applications for real people</p>
            </div>
        </div>
        <div class="strengths">
            <h3 class="hidden">Strengths</h3>
            <div class="strength s1">
                <i class="fas fa-bolt"></i>
                <h4>Speed</h4>
                <p>Lighting fast and efficient</p>
            </div>
            
            <div class="strength s2">
                <i class="fas fa-bug"></i>
                <h4>Debugging</h4>
                <p>Googling error codes is my secret passion! shh...</p>
            </div>

            <div class="strength s3">
                <i class="fas fa-globe-europe"></i>
                <h4>Creativity</h4>
                <p>As creative as they get</p>
            </div>
        </div>
    </section>

    <section class="secPortfolio">
        {{!-- feature a project then send to different url for all projects --}}
        <h2>Featured Project</h2>

        {{!-- use hbs each view here! --}}
        <div class="projView">
            <div class="projInfo proj1 view">
                <h3 class="projTitle">{{cordae.Name}}</h3>
                    <p class="projDesc">{{cordae.Description}}</p>
                    <div class="parMocks">
                        {{#each cordae.Mockups}}
                            <img src="images/portfolio/{{this}}" alt="Cordae album review site mockup" class="projMockups openBox">
                        {{/each}}
                    </div>
                    
                    <div class="appsUsed">
                        {{#each cordae.AppsUsed}}
                            <label class="app">{{this}}</label>
                        {{/each}}
                    </div>
                    <div class="projImages">
                        {{#each cordae.Images}}
                    <img src="images/portfolio/{{this}}" class="pImg openBox" alt="cordae album review site screenshot">
                        {{/each}}
                    </div>
            </div>
        </div>

        {{!-- <div class="video">
            <h2>Malek Farag - Demo Reel</h2>
            <video src="video/demo.mp4" controls></video>
        </div> --}}
    </section>
</main>

    <section class="secContact">
        <h2>Contact</h2>
        <form action="submit" method="post">
            <input name='company' type="text" placeholder="Name" id='name' required>
            <input name='usermail' type="email" name="email" id='email' placeholder="Email" required>
            <input id='subject' name='subject' type="text" placeholder='Subject' required>
            <textarea id='message' name='message' placeholder="Message" required></textarea>
            <input type="submit" value="send" class="send">
        </form>
    </section>

